#page-login {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  background: url("../../assets/login-background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

#page-login-content {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
}

#page-login-criar {
  font-size: 14px;
  margin-top: 24px;
  color: #6c6c80;
  text-align: center;
}

#page-login-criar a {
  font-size: 14px;
  font-weight: 600;
  color: rgb(130, 87, 230);
  margin: 8px 0px 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease 0s;
  align-self: flex-start;
}

#page-login form {
  width: 100%;
  max-width: 480px;
  padding: 64px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#page-login form header {
  display: flex;
  justify-content: space-between;
}

#page-login form header h1 {
  font-size: 40px;
  vertical-align: middle;
  align-self: center;
}

#page-login form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-login form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-login form .field input[type="text"], #page-login form .field input[type="password"] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#page-login form .field input::placeholder {
  color: #a0a0b2;
}

#page-login form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-login form button {
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-items: center;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  outline: auto;
}

#page-login form button span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-login form button span svg {
  color: #fff;
  width: 20px;
  height: 20px;
}

#page-login form button strong {
  flex: 1;
  text-align: center;
  color: #fff;
}

#page-login form button:hover {
  background: var(--hover-color);
}

@media (max-width: 500px) {
  #page-login form header h1 {
    font-size: 42px;
  }
  #page-login form p {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  #page-login form {
    margin: 0px auto;
  }
}