#page-header {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-header header {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-right {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-left {
  width: 30%;
  background-color: blue;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-left {
  width: 30%;
  background-color: blue;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-header header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#page-header header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-header header span {
  color: var(--title-color);
  font-weight: bold;
}