#page-header {
  width: 100%;
}

#page-header header {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  margin: 25px 25px 0;
}

#header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-left {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-header header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#page-header header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-header header span {
  color: var(--title-color);
  font-weight: bold;
  font-size: 2rem;
}