#page-createedit-book {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  margin: 0; 
  background: url("../../assets/create-edit-background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

#page-createedit-book-content {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
}

#page-createedit-book form {
  width: 100%;
  max-width: 580px;
  padding: 30px 64px 64px 64px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#page-createedit-book form h1 {
  font-size: 40px;
  margin-top: 15px;
}

#page-createedit-book form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-createedit-book form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-createedit-book form .field input[type="text"], #page-createedit-book form .field input[type="email"], #page-createedit-book form .field input[type="number"] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#page-createedit-book form .field input::placeholder {
  color: #a0a0b2;
}

#page-createedit-book form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-createedit-book form .field :disabled {
  cursor: not-allowed;
}

#page-createedit-book form button {
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-items: center;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  outline: auto;
}

#page-createedit-book form button:hover {
  background: var(--hover-color);
}

#page-createedit-book form button span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-createedit-book form button strong {
  flex: 1 1;
  text-align: center;
  color: #fff;
}

#page-createedit-book form button span svg {
  color: #fff;
  width: 20px;
  height: 20px;
}

@media (max-width: 500px) {
  #page-createedit-book form {
    margin-left: 0;
  }
}